nav{
    background-color: #312f2f;

    ul{
        display: flex;
        padding-left: 1rem;

        li{
            padding: 0.5rem 0.75rem;

            a{
                text-decoration: none;
                color: #c4c4c4;
                font-size: $fontSize;

                &:hover{
                    color: red;
                }
            }            
        }
    }
}